@import "tailwindcss";

@font-face {
    font-family: "ALoveOfThunder";
    src: url("../../public/fonts/ALoveOfThunder.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ProductSansBold";
    src: url("../../public/fonts/ProductSansBold.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}